:root{
  --pathfinder-red:#70060b;
  --pathfinder-active:rgb(200,67,63);
  --pathfinder-white:rgb(255,253,248);
}

.img{
  position: relative;
  margin: auto;
  border-radius: 9px;
  height:40px;
  width:40px;
  /* margin-left: : 7px; */
  margin-right: 7px;
}
.img-2{
  position: absolute;
  margin:auto;
  border-radius: 9px;
  height:40px;
  width:40px;
  /* margin-left: : 7px; */
  margin-right: 7px;
}


@keyframes translate-up{
  from {transform: translateY(0px);}
  to {transform: translateY(-2px);}
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.img:hover{
  animation-name: fade;
  /* animation-timing-function: ease-in-out; */
  animation-duration: 1s;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
  /* animation-direction: alternate; */
}

/* CONTENT (From complete-blog-php guide)*/
.content {
  margin: 5px auto;
  border-radius: 5px;
  min-height: 400px;

}
.content:after {
  content: "";
  display: block;
  clear: both;
}
.content .content-title {
  margin: 10px 0px;
  color: #374447;
  font-family: 'Averia Serif Libre', cursive;
}
.content .post {
  width: 335px;
  margin: 9px;
  min-height: 320px;
  float: left;
  border-radius: 2px;
  border: 1px solid #b3b3b3;
  position: relative;
}
.content .post .category {
  margin-top: 0px;
  padding: 3px 8px;
  color: #374447;
  background: white;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #374447;
  box-shadow: 3px 2px 2px;
  position: static;
  left: 5px; top: 5px;
  z-index: 3;
}
.content .post .category:hover {
  box-shadow: 3px 2px 2px;
  color: white;
  background: #374447;
  transition: .4s;
  opacity: 1;
}
.content .post .post_image {
  height: 100%;
  width: 100%;
  background-size: 100%;
}
.content .post .post_image {
  width: 100%;
  height: 260px;
}
.content .post .post_info {
  /*height: 100%;*/
  padding: 0px 5px;
  font-weight: 200;
    font-family: 'Noto Serif', serif;
}
.content .post .post_info {
  color: #222;
}
.content .post .post_info span {
  color: black;
  font-style: italic;
}
.content .post .post_info span.read_more {
  position: static;
  /*text-align: center;*/
  /*font-size: 15;*/
  right:0;
  bottom:0;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: .20rem;
  margin-top:50px;
}

.footer-notice{
  margin-bottom: 50px;
}

.footer-footer{
  color: var(--pathfinder-white);
  background-color: var(--pathfinder-red);
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  /* margin: 0; */
  padding-bottom: 6rem;
  min-height: 100%;
}

.message {
	width: 100%; 
	margin: 0px auto; 
	padding: 10px 0px; 
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	border-radius: 5px; 
	text-align: center;
}
.error {
	color: #a94442; 
	background: #f2dede; 
	border: 1px solid #a94442; 
	margin-bottom: 20px;
}
.validation_errors p {
	text-align: left;
	margin-left: 10px;
}
.logged_in_info {
	text-align: right; 
	padding: 10px;
}


/* Modal Menus */
.modal-header{
  background: #70060b;
}

.close{
  color:var(--pathfinder-white);
}
.close:hover{
  filter:brightness(300%);
  color:var(--pathfinder-white);

}
.modal-title{
  color: var(--pathfinder-white);
}

/* Class Boxes */